/* body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #333;
    margin: 0;
    padding: 0;
} */
#center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-section {
    margin-top: 100px;
    
    width: 1100px;
    /* margin: 50px auto; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    /* margin-bottom: auto; */
}

.about-section h2 {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    font-size: 30px;
    margin-bottom: 20px;
    font-family: Righteous;
/* font-size: 30px; */
font-weight: 400;
line-height: 37.25px;
text-align: left;

}

.about-section p {
    font-size: 24px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.about-section strong {
    font-weight: bold;
}
#imgl{
    width: 30px;
    height: 30px;
}