/* styles.css */
body{
    -webkit-user-select: none;  
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none; 
}

#main-title {
    text-align: center;
    font-size: 48px; /* Adjust size as needed */
    margin-top: 20px;
    font-family: 'Arial', sans-serif;
}
.dark-mode {
    background-color: #333;
    color: white;
}
button{
    cursor: pointer;
    height: 30px;
    background-color: green;
    color: #f1f1f1;
}
.classic-4 {
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    clip-path: inset(0 3ch 0 0);
    animation:c4 1s steps(4) infinite;
  }
  @keyframes c4 {to{clip-path: inset(0 -1ch 0 0)}}
.light-mode {
    background-color: white;
    color: black;
}
/* Toggle button style */
.toggle-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background: #f6f8fa;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
    padding: 16px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: calc(50% - 22px); /* Adjust width for 3 cards per row, accounting for gap */
    margin-bottom: 16px; /* Space between rows */
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    background-color: #f1f1f1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.3);
}

.card-content {
    padding: 16px;
}
